jenkins:
  systemMessage: "Jenkins CI/CD - Domain Monitoring DevOps"
  numExecutors: 0
  mode: EXCLUSIVE
  quietPeriod: 5
  scmCheckoutRetryCount: 3

  nodes:
    - permanent:
        name: "docker-slave-1" 
        remoteFS: "/home/jenkins"
        numExecutors: 2
        labelString: "Slave docker"
        mode: NORMAL
        launcher:
          inbound:
            workDirSettings:
              disabled: false
              internalDir: "remoting"
              failIfWorkDirIsMissing: false

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "group2"
          password: "${ADMIN_PASSWORD}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  remotingSecurity:
    enabled: true

credentials:
  system:
    domainCredentials:
      - domain:
          name: "_"
        credentials:
          - usernamePassword:
              id: "dockerhub-creds"
              scope: GLOBAL
              username: "${DOCKERHUB_USER}"
              password: "${DOCKERHUB_PASS}"

          - usernamePassword:
              id: "github-token"
              scope: GLOBAL
              username: "${GITHUB_USER}"
              password: "${GITHUB_TOKEN}"

unclassified:
  location:
    url: "${JENKINS_URL}"
  job-dsl:
    scriptSecurityEnabled: false
    useScriptSecurity: false

jobs:
  - script: >
      pipelineJob('domain-monitoring-ci') {
        description('Domain Monitoring CI/CD - auto-created by JCasC / Job DSL')

        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/thexDman/domain_monitoring_devops.git')
                  // if repo is private, you can later bind credentials here
                }
                branches('*/main')
                extensions {
                  wipeOutWorkspace()
                }
              }
            }
            scriptPath('Jenkinsfile')
          }
        }

        // use your agent label
        properties {
          pipelineTriggers {
            triggers {
              githubPush()
            }
          }
        }

        logRotator {
          numToKeep(30)
        }
      }