# common main.yml

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install baseline packages
  ansible.builtin.apt:
    name:
      - curl
      - git
    state: present